<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>

  <%# Что воистину удивительно, Rails автоматически проходит по всем элементам-юзерам, и автоматом запускает функцию render по каждому из них (название user береётся с названия класса объектов массива @users), а сам шаблон (partial) юзеров уже создан и имеет название _user.html.erb. Столько автоматизации, что я сижу и просто не представляю каким чудом я смогу всё это запомнить%>

  <%# @users.each do |user| %>
    <%#= render user %>
  <%# end %>
</ul>

<%= will_paginate %>